@import "normalize";
@import "font-awesome";

@import "buttons";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 17px;
}

body {
    height: 100%;
    color: #454545;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    background-color: #fff;
}

